.header
{
   background-color: rgb(57, 56, 56);
   display: flex;
 
   height: 20px;
}

.envato{
display: flex;
}
.envato-text
{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.market
{
  color: green;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif
}
.buy-now
{
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #40cd40;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  margin-left: 88%;
}
